@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
.hero-1{
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-1 .newYear{
    background:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
}