@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0%;
    margin: 0%;
}
.hero-1{
    height: 770px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-1 .newYear{
    background:linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    width: 1320px;
    height: 600px;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.greetNewYear{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}
.celebration{
    width: 632px;
    height: 190px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 900;
    text-align: center;
}
/* hero-2 style starts from here  */
.hero-2{
    display: flex;
    height: 926px;
    justify-content: center;
}
.cate-container{
    width: 802.9px;
    height: 806px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.discount-msg{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}
.cate-heading{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}
.cate-container img{
    margin-top: 30px;
    width: 802.9px;
    height: 500px;
}
/* hero-3 css starts from here  */
.hero-3{
    height: 720px;
    display: flex;
    justify-content: center;
}
.midnight-container{
    width: 1320px;
    height: 600px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.midnight-heading{
    width: 642px;
    height: 176px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    text-align: left;
    margin-left:120px;
    margin-top: 126px;
}
.midnight-msg{
    width: 697px;
    height: 60px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    margin-left:120px;
}
.midnight-btn{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    width: 103px;
    height: 24px;
    margin-left: 185px;
    background: none;
    border: none;
    cursor: pointer;
}
/* hero-4 css starts from here  */
.hero-4{
    height: 602px;
    display: flex;
    justify-content: center;
}
.location-container{
    width: 1320px;
    height: 482px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.location-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.location-box p{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;   
}
.location-box span{
    color: rgb(255, 0, 0);
}
.join-btn-loc{
    border-radius: 8px;
    background: rgb(255, 0, 0);
    position: relative;
    width: 167px;
    height: 56px;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    margin-top: 60px;
}
/* hero-5 starts from here  */
.hero-5{
    height: 583px;
    display: flex;
    justify-content: center; 
}
.hero-5 .hero-5-container{
    height: 463px;
    width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newOffer{
    width: 393px;
    height: 255px;
}
.newOffer span{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
}
.newOffer .comingSoon{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    text-transform: capitalize;
    color: rgb(7, 2, 17);
    margin-bottom: 22px;
}
.newOffer p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;    
}
.elipse-img{
    width: 463px;
    height: 463px;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}
.new2024{
    width: 276px;
    height: 421px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.new2024 span{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-align: left;   
}
.new2024 p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;    
    margin-top: 16px;
}
.new2024 img{
    width: 140px;
    height: 140px;
    margin-top: 43px;
}
/* hero-6 css starts from here  */
.hero-6{
    height: 1106.07px;
    display: flex;
    justify-content: center;
}